#mc-splash-canvas {
  --mc-splash-canvas-point-1-fill: rgb(255,191,191);
  --mc-splash-canvas-point-1-stroke: rgb(217,28,28);
  --mc-splash-canvas-point-2-fill: rgb(255,231,191);
  --mc-splash-canvas-point-2-stroke: rgb(255,172,38);
  --mc-splash-canvas-point-3-fill: rgb(191,228,255);
  --mc-splash-canvas-point-3-stroke: rgb(0,150,255);
  --mc-splash-canvas-point-4-fill: rgb(191,255,249);
  --mc-splash-canvas-point-4-stroke: rgb(0, 194, 174);
  --mc-splash-canvas-line-stroke: rgb(143,171,191);
}
