<div data-page="search" :class="animate ? 'animate-in' : ''" v-if="isReady">

  <div class="connector-3-step-form-wrapper">
    <div class="connector-3-step-form-inner-wrapper">

      <div class="connector-3-step-callout">
        <div class="typography">
          <h2 class="callout-headline">
            <span class="sans">{{ t('app-search-headline') }}</span>
            <span class="vector">{{ t('app-search-sub-headline') }}</span>
          </h2>
          <p class="callout-paragraph" style="background-image: url('/search-callout-bg.jpg')">
            {{ t('app-search-callout') }}
          </p>
        </div>

        <div class="steps">

          <div class="step step-1">
            <div class="step-circle">
              <div class="step-circle-shape" style="background-image: url('/search-bubble-green.jpg')"></div>
              <div class="step-circle-content">
                <div class="step-circle-step">{{ t('app-step') }}</div>
                <div class="step-circle-number">1</div>
              </div>
            </div>
            <div class="step-copy typography">
              <h3>{{ t('app-step1-headline') }}</h3>
              <p v-html="t('app-step1-sub-headline')"></p>
            </div>
          </div>

          <div class="step step-2">
            <div class="step-circle">
              <div class="step-circle-shape" style="background-image: url('/search-bubble-orange.jpg')"></div>
              <div class="step-circle-content">
                <div class="step-circle-step">{{ t('app-step') }}</div>
                <div class="step-circle-number">2</div>
              </div>
            </div>
            <div class="step-copy typography">
              <h3>{{ t('app-step2-headline') }}</h3>
              <p v-html="t('app-step2-sub-headline')"></p>
            </div>
          </div>

          <div class="step step-3">
            <div class="step-circle">
              <div class="step-circle-shape" style="background-image: url('/search-bubble-red.jpg')"></div>
              <div class="step-circle-content">
                <div class="step-circle-step">{{ t('app-step') }}</div>
                <div class="step-circle-number">3</div>
              </div>
            </div>
            <div class="step-copy typography">
              <h3>{{ t('app-step3-headline') }}</h3>
              <p v-html="t('app-step3-sub-headline')"></p>
            </div>
          </div>

        </div>

      </div>

      <form class="connector-3-step-form" v-on:submit.prevent="submit">

        <div class="form-copy">
          <div class="step step-1">
            <div class="step-circle">
              <div class="step-circle-shape" style="background-image: url('/search-bubble-green.jpg')"></div>
              <div class="step-circle-content">
                <div class="step-circle-step">{{ t('app-step') }}</div>
                <div class="step-circle-number">1</div>
              </div>
            </div>
            <div class="step-copy typography">
              <h3 class="vector start-here">{{ t('app-search-form-headline') }}</h3>
            </div>
          </div>
          <div class="typography" v-html="t('app-search-form-subheadline')">
          </div>
        </div>

        <div class="form-elements-wrapper">
          <div class="form-row">
            <label for="firstName">{{ t("app-first-name") }}</label>
            <input id="firstName" name="firstName" type="text" required
                   v-model=search.attributes.firstName
            >
          </div>
          <div class="form-row">
            <label for="lastName">{{ t("app-last-name") }}</label>
            <input id="lastName" name="lastName" type="text" required
                   v-model=search.attributes.lastName
            >
          </div>
          <div class="form-row">
            <label for="email">{{ t("app-email") }}</label>
            <input id="email" name="email" type="text" required
                   v-model=search.attributes.email
                   pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*\..+$"
            >
          </div>
          <div class="form-row">
            <postal-code :search="search" />
          </div>

          <div v-if="search.attributes.national !== true">
            <div class="form-rule"></div>
            <div class="form-row">
              <div class="select-wrapper">
                <select v-model="search.attributes.distance"
                        name="search-distance-to-mentoring"
                        required="true"
                >
                  <option v-for="(option, i) in optionsDistanceToMentoring" :value="option.value" :disabled="option.value == '-'">{{ option.name }}</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M0 3h10L5 8" fill-rule="nonzero"></path></svg>
              </div>
            </div>

            <program-search-delivery :search="search" />
          </div>

          <div class="form-row actions">
            <button type="submit">{{ t("app-search") }}</button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
