[data-page=admin] {
  $admin-ui-color: $ui-primary;
  max-width: 1300px;

  #dashboard-cards-second-row,
  #dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
  }

  .dashboard-card {
    display: flex;
    flex-direction: column;
    flex: 1 0 320px;
    min-width: 320px;
    max-width: 650px;
    margin: 0 8px 50px 8px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    overflow: hidden;
    .dashboard-typography {
      color: rgba(#000, 0.75);
      &.dashboard-typography-vibrant {
        color: #000;
      }
    }
    .dashboard-card-actions {
      justify-content: space-between;
      border-top: 1px solid rgba(#000, 0.075);
    }
    &.dashboard-card-reversed {
      background: $admin-ui-color;
      body.enforce-a11y-color-contrast & {
        background: darken($admin-ui-color, 8%);
      }
      .dashboard-typography {
        color: rgba(#fff, 0.75);
        &.dashboard-typography-vibrant {
          color: #fff;
        }
      }
      body.enforce-a11y-color-contrast &{
        .dashboard-typography {
          color: rgba(#fff, 1);
        }
      }
      .dashboard-card-actions {
        border-top: 1px solid rgba(#fff, 0.15);
      }
      .dashboard-action-link {
        color: #fff;
      }
      .dashboard-date-picker {
        .dashboard-date-picker-toggle {
          color: #fff;
        }
      }
    }
  }

  .dashboard-card-content {
    position: relative;
    flex: 1 0 auto;
    padding: 25px;
  }

  .dashboard-card-actions {
    display: flex;
    padding: 10px 25px;
    min-height: 40px;
  }

  .dashboard-card-title {
    @include font-tracking(14);
    font-weight: 700;
  }

  .dashboard-stat-large {
    @include font-tracking(48);
    font-weight: 100;
    margin: 15px 0;
  }


  // CARDS

  #dashboard-card-inquiries {
    flex-grow: 1;
    .inquiries-breakdown {
      display: flex;
      padding-top: 15px;
      border-top: 1px solid rgba(204,229,255,0.25);
      .dashboard-stat-medium {
        padding-right: 20px;
        span {
          display: block;
        }
        .stat-count {
          @include font-tracking(24);
          font-weight: 300;
        }
        .stat-label {
          @include font-tracking(12);
          font-weight: 500;
          margin-top: 5px;
        }
      }
    }
    #inquiries-chart {
      margin-top: 25px;
    }
    .inquiries-legend {
      display: flex;
      margin-top: 10px;
      .legend-item {
        display: flex;
        align-items: center;
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        .legend-color {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          &.legend-color-contacted {
            background: #cce5ff;
          }
          &.legend-color-uncontacted {
            background: #80bdff;
          }
        }
        .legend-label {
          font-weight: 700;
          @include font-tracking(11);
          margin-left: 4px;
        }
      }
    }
  }

  #dashboard-card-programs,
  #dashboard-card-organizations {
    flex-grow: 2;
    .dashboard-card-content {
      padding-bottom: 0;
    }
    .inquiries-breakdown {
      display: flex;
      margin: 0 -25px;

      .inquiries-breakdown-option {
        position: relative;
        margin-top: 15px;
        margin-bottom: 25px;
        span {
          display: block;
        }
        .stat-count {
          @include font-tracking(24);
          font-weight: 300;
        }
        .stat-label {
          @include font-tracking(12);
          font-weight: 500;
          margin-top: 5px;
        }
        input {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: none;
          background: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          cursor: pointer;
        }
        label {
          position: relative;
          z-index: 1;
          display: block;
          padding: 15px 25px 15px 25px;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: $admin-ui-color;
            opacity: 0;
          }
        }
        input:focus + label,
        input:hover + label {
          &:after {
            opacity: 0.5;
          }
        }
        input:hover + label {
          background: rgba($admin-ui-color, 0.05);
        }
        input:checked + label {
          .dashboard-typography {
            color: rgba($admin-ui-color, 0.75);
          }
          .dashboard-typography-vibrant {
            color: $admin-ui-color;
          }
          &:after {
            opacity: 1;
          }
        }
      }
    }

    .chart-wrapper {
      position: relative;
      width: 100%;
      height: 75px;
    }

    .vuetable-body-wrapper {
      margin: 10px -25px 0 -25px;
    }
    .admin-list-table {
      &.contacted {
        table td:nth-child(2) {
          font-weight: 700;
        }
      }
      &.uncontacted {
        table td:nth-child(3) {
          font-weight: 700;
        }
      }
      &.total {
        table td:nth-child(4) {
          font-weight: 700;
        }
      }
    }
    table {
      th {
        background: transparent;
        border-bottom: 1px solid rgba(#000, 0.1);
        @include font-tracking(12);
      }
      td:nth-child(1) {
        position: relative;
        .table-legend {
          position: absolute;
          top: 0;
          left: 0;
          width: 8px;
          height: 100%;
        }
      }
      th, td {
        @include font-tracking(12);
        height: 34px;
        padding: 7px;
      }
      td:nth-child(1),
      th:nth-child(1) {
        padding-left: 25px;
        width: 100%;
      }
      td:nth-child(2),
      th:nth-child(2),
      td:nth-child(3),
      th:nth-child(3),
      td:nth-child(4),
      th:nth-child(4) {
        text-align: right;
      }
      td:nth-child(2),
      td:nth-child(3),
      td:nth-child(4) {
        font-family: "Gotham SSm Tabular A", "Gotham SSm Tabular B";
      }
      td:nth-child(4),
      th:nth-child(4) {
        padding-right: 25px;
      }
      tr {
        td {
          border-bottom: 1px solid rgba(#000, 0.075)
        }
        &:last-child td {
          border-bottom: none;
        }
      }
    }
  }


  #dashboard-card-admin-links {
    flex-grow: 0;
    .dashboard-card-content {
      padding-bottom: 0;
    }
    .vuetable-body-wrapper {
      margin: 10px -25px 0 -25px;
    }
    table {
      thead {
        display: none;
      }
      tr {
        td {
          border-bottom: 1px solid rgba(#000, 0.075)
        }
        td:nth-child(1) {
          padding-left: 25px;
          width: 100%;
        }
        td:nth-child(2) {
          padding-right: 17px;
        }
        &:last-child td {
          border-bottom: none;
        }
      }
      .material-icons {
        color: #000000;
      }
    }
  }

  .dashboard-card-resource {
    flex-grow: 0;
    .dashboard-card-content {
      display: flex;
      flex-direction: column;
    }
    .color-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 8px;
      display: flex;
      .color-band {
        width: 20%;
        height: 100%;
        &:nth-child(1) { background: $mentor-red; }
        &:nth-child(2) { background: $mentor-yellow; }
        &:nth-child(3) { background: $mentor-green; }
        &:nth-child(4) { background: $mentor-soft-blue; }
        &:nth-child(5) { background: $mentor-blue; }
      }
    }
    svg {
      display: block;
      width: 120px;
      height: (120px * 1.04);
    }
    .resource-library-mentor,
    .resource-library-title {
      display: inline-block;
    }
    .resource-library-mentor {
      color: $mentor-blue;
      margin-top: 1em;
    }
    .resource-library-title {
      color: $mentor-soft-blue;
      @include font-tracking(24);
    }
    p {
      @include font-tracking(14);
      margin-top: 0.5em;
      line-height: 1.3;
      color: rgba(#000, 0.75);
    }
    .dashboard-card-actions {
      justify-content: flex-end;
    }
  }

  .dashboard-action-link {
    position: relative;
    display: flex;
    align-items: center;
    color: $admin-ui-color;
    body.enforce-a11y-color-contrast & {
      color: darken($admin-ui-color, 8%)
    }
    cursor: pointer;
    font-weight: 700;
    @include font-tracking(12);
    .material-icons {
      margin-right: -8px;
    }
  }

  .dashboard-date-picker {
    position: relative;
    .dashboard-date-picker-toggle {
      position: relative;
      display: flex;
      align-items: center;
      color: $admin-ui-color;
      body.enforce-a11y-color-contrast & {
        color: darken($admin-ui-color, 8%)
      }
      cursor: pointer;
      font-weight: 700;
      @include font-tracking(12);
      .material-icons {
        margin-right: 5px;
      }
    }
    .dashboard-date-picker-options {
      position: absolute;
      z-index: 6;
      bottom: 30px;
      min-width: 220px;
      background: rgba(#fff, 0.9);
      @supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background: rgba(#fff, 0.5);
      }
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 1px 5px rgba(#000, 0.05), 0 3px 10px rgba(#000, 0.05);
      font-weight: 700;
      @include font-tracking(12);
      .dashboard-date-picker-option {
        position: relative;
        input {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: none;
          background: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          cursor: pointer;
        }
        label {
          position: relative;
          z-index: 1;
          display: block;
          padding: 12px 25px;
        }
        input:hover + label {
          background: rgba($admin-ui-color, 0.05);
        }
        input:checked + label {
          background: $admin-ui-color;
          color: #fff;
        }
      }
    }
  }


  .vfc-popover-container {
    position: absolute;
    z-index: 7;
    bottom: 30px;
    left: 0;
  }

}

#chartjs-tooltip {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
  margin: 10px;
  padding: 25px 20px;
  background: rgba(#fff, 0.9);
  @supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: rgba(#fff, 0.5);
  }
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(#000, 0.05), 0 3px 10px rgba(#000, 0.05);
  @include font-tracking(12);
  opacity: 0;
  transition: opacity 0ms 0ms;
  table {
    thead th {
      font-weight: 700;
      text-align: left;
      padding-bottom: 20px;
    }
    tbody {
      td {
        padding: 5px 0;
      }
      td:nth-child(1) {
        color: rgba(#000, 0.75);
        font-weight: 500;
        padding-right: 10px;
      }
      td:nth-child(2) {
        color: #000;
        font-weight: 700;
        text-align: right;
        padding-left: 10px;
        font-family: "Gotham SSm Tabular A", "Gotham SSm Tabular B";
      }
    }
  }
  &.visible {
    opacity: 1;
    transition: opacity 200ms 10ms;
  }
}