<div data-page="organization-submitted" data-content-width="standard" data-page-align="center" v-if="isReady">

  <div class="typography">

    <template v-if="lang.langcode == 'en'">
      <h1>{{ title }}</h1>
      <div class="visually-h3">{{ subtitle }}</div>
      <p>We will follow up with you within 7 business days by email at <a :href="`mailto:${email}`">{{email}}</a>. Thank you for supporting mentoring in your community.</p>
    </template>
    <template v-else>
      <h1>Félicitations !</h1>
      <div class="visually-h3">L'organisation < {{ organizationName }} > a été soumise pour examen.</div>
      <p>Nous vous contacterons dans les 7 jours ouvrables par courriel à <a :href="`mailto:${email}`">{{ email }}</a>. Merci de soutenir le mentorat dans votre communauté.</p>
    </template>

    <br><br>

  </div>

  <div class="standard-form-style">
    <div class="actions actions-align-left">

      <template v-if="lang.langcode == 'en'">
        <router-link :to="link('organizations/add')">
          <button class="compact">Submit another organization</button>
        </router-link>

        <router-link :to="addProgramLink">
          <button class="compact">Submit a program</button>
        </router-link>
      </template>

      <template v-else>
        <router-link :to="link('organizations/add')">
          <button class="compact">Soumettez une autre organisation</button>
        </router-link>

        <router-link :to="addProgramLink">
          <button class="compact">Soumettez un programme</button>
        </router-link>
      </template>

    </div>
  </div>

  <template v-if="lang.langcode == 'en'">
    <div class="typography">
      <br><br>
      <p>Interested in discovering other ways you can get involved in the mentoring movement?</p>
      <br><br>
      <a :href="t('app-siteurl')">
        <button class="compact">Click here</button>
      </a>
    </div>
  </template>
  <template v-else>
    <div class="typography">
      <br><br>
      <p>Intéressé(e) à découvrir d'autres façons de vous impliquer dans le mouvement du mentorat ?</p>
      <br><br>
      <a href="https://mentoringcanada.ca/fr">
        <button class="compact">Cliquez ici</button>
      </a>
    </div>
  </template>

</div>
