html.feature-flag-split-search body[data-path='home'] {

  #hero {
    --mc-home-hero-headline-size: 90px;
    --mc-home-hero-sticky-top: 0;
    @media (max-width: $typography-break-2) {
      --mc-home-hero-headline-size: 75px;
    }
    @media (max-width: $typography-break-1) {
      --mc-home-hero-headline-size: 60px;
    }
    position: relative;
    //position: -webkit-sticky;
    //position: sticky;
    //top: var(--mc-home-hero-sticky-top);
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: calc(50vh - var(--mc-home-hero-headline-size)) 5vw 0 5vw;

    #mc-splash-canvas {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .typography {
      position: relative;
      z-index: 1;
      max-width: 800px;
      text-align: center;
      margin: 0 auto;
      h1 {
        --font-size: 100;
        //@include font-tracking(90);
        //@media (max-width: $typography-break-2) {
        //  @include font-tracking(75);
        //}
        //@media (max-width: $typography-break-1) {
        //  @include font-tracking(60);
        //}
      }
      p {
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 500ms, transform 650ms cubic-bezier(0.24, 1.42, 0.45, 1);
        transition-delay: 1600ms;
      }
    }
    .span-word {
      display: block;
      opacity: 0;
      transition: opacity 1400ms 500ms;
    }
    .span-word-first {
      transform-origin: 50% 100%;
    }
    .span-word-last {
      transform-origin: 50% 0;
    }
    &.focused {
      --bounce-distance: 20px;
      @keyframes bounce {
        0% {
          transform: translateY(calc(0.9 * var(--bounce-distance) * var(--bounce-direction))) scaleY(1);
          animation-timing-function: cubic-bezier(.5,0,0,1);
        }
        50% {
          transform: translateY(calc(var(--bounce-distance) * var(--bounce-direction))) scaleY(1.025);
          animation-timing-function: cubic-bezier(1,0,.5,.5);
        }
        80% {
          transform: translateY(calc(-0.1 * var(--bounce-distance) * var(--bounce-direction))) scaleY(0.95);
          animation-timing-function: cubic-bezier(.5,.5,.375,1);
        }
        100% {
          transform: translateY(0) scaleY(1);
        }
      }
      .span-word {
        opacity: 1;
        animation: bounce 1000ms 500ms forwards;
      }
      .span-word-first {
        --bounce-direction: -1;
      }
      .span-word-last {
        --bounce-direction: 1;
      }
      .typography p {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  #features {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding: 10vh 5vw;
  }

  .feature-callout {
    display: flex;
    align-items: center;
    padding: 10vh 0;
    min-height: 60vh;
    max-width: 1200px;
    margin: 0 auto;
  }

  .feature-copy {
    max-width: 500px;
    .feature-heading {

    }
    .feature-heading-eyebrow {
      opacity: 0.65;
      html[lang="en"] & {
        text-transform: capitalize;
      }
    }
    .feature-heading-headline {
      margin-top: 0.25em;
    }
    .feature-item {
      margin-top: 50px;
    }
    .feature-cta {
      margin-top: 30px;
    }
  }

  .feature-image {
    --i-width: 800px;
    --i-height: 600px;
    position: relative;
    height: var(--i-height);
    .feature-image-src {
      position: absolute;
      top: 0;
      width: var(--i-width);
      height: var(--i-height);
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .feature-callout {
    &.feature-callout-odd {
      .feature-copy {
        padding-right: 50px;
      }
      .feature-image-src {
        left: 0;
      }
    }
    &.feature-callout-even {
      flex-direction: row-reverse;
      .feature-copy {
        padding-left: 50px;
      }
      .feature-image-src {
        right: 0;
      }
    }
  }


}
