body[data-path='home'] {
  --off-white: #{$mentor-off-white};
  --mc-2022-typography-heading-color: hsl(205, 40%, 20%);
  --mc-2022-typography-copy-color: hsl(205, 25%, 45%);
  --eyebrow-color: hsl(205, 25%, 45%);

  nav#admin-nav {
    display: none;
  }

  #hero {
    --mc-home-hero-headline-size: 100;
    --mc-home-hero-sticky-top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: var(--mc-home-hero-sticky-top);
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: calc(50vh - var(--mc-home-hero-headline-size) * 1px) 5vw 0 5vw;

    #mc-splash-canvas {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .typography {
      position: relative;
      z-index: 1;
      max-width: 800px;
      text-align: center;
      margin: 0 auto;
      h1 {
        --font-size: var(--mc-home-hero-headline-size);
      }
      p {
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 500ms, transform 650ms cubic-bezier(0.24, 1.42, 0.45, 1);
        transition-delay: 1600ms;
      }
    }
    .span-word {
      display: block;
      opacity: 0;
      transition: opacity 1400ms 500ms;
    }
    .span-word-first {
      transform-origin: 50% 100%;
    }
    .span-word-last {
      transform-origin: 50% 0;
    }
    &.animate-in {
      --bounce-distance: 20px;
      --bounce-animation-duration: 1000ms;
      --bounce-animation-delay: 500ms;
      @keyframes bounce {
        0% {
          transform: translateY(calc(0.9 * var(--bounce-distance) * var(--bounce-direction))) scaleY(1);
          animation-timing-function: cubic-bezier(.5,0,0,1);
        }
        50% {
          transform: translateY(calc(var(--bounce-distance) * var(--bounce-direction))) scaleY(1.025);
          animation-timing-function: cubic-bezier(1,0,.5,.5);
        }
        80% {
          transform: translateY(calc(-0.1 * var(--bounce-distance) * var(--bounce-direction))) scaleY(0.95);
          animation-timing-function: cubic-bezier(.5,.5,.375,1);
        }
        100% {
          transform: translateY(0) scaleY(1);
        }
      }
      .span-word {
        opacity: 1;
        animation: bounce var(--bounce-animation-duration) var(--bounce-animation-delay) forwards;
      }
      .span-word-first {
        --bounce-direction: -1;
      }
      .span-word-last {
        --bounce-direction: 1;
      }
      .typography p {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &.animate-in-immediate {
      --bounce-animation-duration: 0ms;
      --bounce-animation-delay: 0ms;
    }
  }

  #features {
    position: relative;
    z-index: 1;
    background-color: var(--off-white);
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
    }
    &:before {
      height: 100vh;
      background: var(--off-white);
      opacity: var(--focus-percent-excluding-height);
      will-change: opacity;
    }
    &:after {
      height: 40vh;
      background: linear-gradient(transparent, var(--off-white));
      transform-origin: 50% 100%;
      transform: scaleY(calc(clamp(0, var(--focus-percent-excluding-height), 0.25) * 4));
      will-change: transform;
    }
  }

  .feature-section {
    position: relative;
    z-index: 1;
    padding: 20vh 5vw 10vh 5vw;
    min-height: 100vh;
    background: linear-gradient(transparent, #eef2f6);
    border-bottom: 1px solid #cfd7e2;
    overflow: hidden;
  }

  .feature-heading {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    .feature-heading-eyebrow {
      --font-size: 24;
      --color: var(--eyebrow-color);
      html[lang="en"] & {
        text-transform: capitalize;
      }
    }
    .feature-heading-headline {
      --spacing: 0.25em;
      --line-height: 1.15;
    }
    .feature-heading-cta {
      margin-top: 30px;
    }
  }

  .feature-item {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10vh 0;
  }

  .feature-item-grid {
    display: grid;
    --i-radius: 20px;
    --i-inset: 2px;

    @media (max-width: 699px) {
      --i-overlap-x: 30px;
      --i-overlap-y: 150px;
      --gutter: 50px;
      --i-translate: 30px;

      grid-template-columns: minmax(0,1fr) var(--i-overlap-x) minmax(0,1fr);
      grid-template-rows: auto var(--i-overlap-y) auto var(--gutter) auto;
      .feature-copy {
        grid-column: 1/-1;
        grid-row: 5/-1;
        justify-self: center;
      }
    }

    @media (min-width: 700px) {
      --i-overlap-x: 100px;
      --i-overlap-y: 150px;
      --gutter: 8%;
      --i-translate: 130px;

      grid-template-rows: auto var(--i-overlap-y) auto;
      .img-1 {
        grid-row: 1/3;
        align-self: end;
      }
      .img-2 {
        grid-row: 2/4;
        align-self: start;
      }
      .feature-copy {
        grid-row: 1/-1;
        align-self: center;
      }
    }

    &.feature-item-grid-copy-left {
      .img-1 {
        transform: rotate(calc(var(--focus-percent) * -4deg - 2deg));
      }
      .img-2 {
        transform: rotate(calc(var(--focus-percent) * 5deg + 2deg)) translateY(calc(var(--focus-percent) * var(--i-translate)));
      }
      @media (max-width: 699px) {
        .img-1 {
          grid-column: 2;
          grid-row: 1/3;
          justify-self: end;
        }
        .img-2 {
          grid-column: 2;
          grid-row: 2/4;
          justify-self: start;
        }
      }
      @media (min-width: 700px) {
        grid-template-columns: minmax(45%, 500px) var(--gutter) var(--i-overlap-x) 1fr 1fr;
        .img-1 {
          grid-column: 3/5;
          justify-self: end;
        }
        .img-2 {
          grid-column: 4/6;
          justify-self: start;
        }
        .feature-copy {
          grid-column: 1/2;
          justify-self: end;
        }
      }
    }

    &.feature-item-grid-copy-right {
      .img-1 {
        transform: rotate(calc(var(--focus-percent) * 4deg + 2deg));
      }
      .img-2 {
        transform: rotate(calc(var(--focus-percent) * -5deg - 2deg)) translateY(calc(var(--focus-percent) * var(--i-translate)));
      }
      @media (max-width: 699px) {
        .img-1 {
          grid-column: 2;
          grid-row: 1/3;
          justify-self: start;
        }
        .img-2 {
          grid-column: 2;
          grid-row: 2/4;
          justify-self: end;
        }
      }
      @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr var(--i-overlap-x) var(--gutter) minmax(45%, 500px);
        justify-content: end;
        .img-1 {
          grid-column: 4/1;
          justify-self: end;
        }
        .img-2 {
          grid-column: 3/1;
          justify-self: end;
        }
        .feature-copy {
          grid-column: 5/6;
        }
      }
    }

    .feature-item-image-lockup {
      display: contents;
      .feature-item-image {
        background-size: cover;
        background-position: 50% 50%;
        background-color: #fff;
        border: var(--i-inset) solid #fff;
        border-radius: var(--i-radius);
        box-shadow: 0 0 5px rgba(#000, 0.05), 0 calc(var(--i-height) / 20) calc(var(--i-height) / 10) rgba(#000, 0.1);
        width: var(--i-width);
        height: var(--i-height);
        will-change: transform;
      }
    }

    .feature-copy {
      max-width: 500px;
      .feature-copy-eyebrow {
        --font-size: 24;
        --color: var(--eyebrow-color);
      }
      .feature-copy-headline {
        --spacing: 0.25em;
        --line-height: 1.15;
      }
    }
  }

  #fyp-what-can-mentoring-do,
  #fv-time-commitment,
  #fo-step-3 {
    @media (max-width: 699px) {
      --i-width: 150px;
      --i-height: 200px;
    }
    @media (min-width: 700px) {
      --i-width: 400px;
      --i-height: 530px;
    }
  }

  #fyp-time-commitment,
  #fv-make-a-difference,
  #fo-step-2 {
    @media (max-width: 699px) {
      --i-width: 175px;
      --i-height: 175px;
    }
    @media (min-width: 700px) {
      --i-width: 460px;
      --i-height: 460px;
    }
  }

  #fyp-pandemic,
  #fv-pandemic,
  #fo-step-1 {
    @media (max-width: 699px) {
      --i-width: 200px;
      --i-height: 150px;
    }
    @media (min-width: 700px) {
      --i-width: 530px;
      --i-height: 400px;
    }
  }

  .feature-quotes {
    max-width: 1200px;
    margin: 10vh auto 0 auto;
    text-align: center;
    .quotes {
      display: flex;
      flex-wrap: wrap;
      blockquote {
        padding: 50px 25px 0 25px;
        width: 50%;
        @media (max-width: 800px) {
          width: 100%;
        }
        cite {
          display: block;
          span {
            @include font-metrics;
            --font-size: 16;
            --font-weight: 500;
            display: block;
          }
          span.cite-name {
            --color: var(--mc-2022-typography-heading-color);
          }
          span.cite-title {
            --color: var(--mc-2022-typography-copy-color);
            margin-top: 0.25em;
          }
        }
      }
    }
  }

  .feature-cta {
    max-width: 800px;
    margin: 10vh auto 0 auto;
    text-align: center;
    .feature-cta-item {
      margin-top: 50px;
      &:first-child {
        margin-top: 0;
      }
    }
    .typography {
      margin-bottom: 30px;
    }
  }

  #extras {
    position: relative;
    padding: 10vh 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dfe4ec;
    .typography {
      text-align: center;
    }
  }

  .icon-link {
    display: inline-flex;
    align-items: center;
    --font-size: 18;
    --spacing: 1.5em;
    .material-icons {
      margin-left: 0.25em;
    }
  }

  .feature-stats.typography {
    margin-bottom: 0;
    .stats-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      --spacing: 30px;
      .stat {
        --font-size: 80;
        --line-height: 1;
        --color: var(--mc-2022-typography-heading-color);
        overflow: hidden;
        .split-text-el {
          white-space: pre-wrap;
          &:last-child {
            --scale: 0.777;
            --font-weight: 500;
          }
        }
      }
      .stat-block {
        width: 30%;
        @media (max-width: 699px) {
          width: 100%;
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;
        }
        .split-text-el {
          will-change: transform;
          transform: translateY(100%);
          transition: transform 650ms cubic-bezier(.24,1.42,.45,1);
        }
        .stat ~ p {
          --font-size: 16;
          --font-weight: 500;
          --spacing: 0.5em;
          will-change: transform;
          opacity: 0;
          transform: translateY(20px);
          transition: transform 1000ms cubic-bezier(.24,1.42,.45,1), opacity 500ms;
          transition-delay: 350ms;
        }
      }
      .stat-block.focused {
        .split-text-el {
          transform: translateY(0);
        }
        .stat ~ p {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  #section-nav {
    --section-nav-height: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--section-nav-height);
    display: flex;
    justify-content: center;
    background: #fff;
    border-bottom: 1px solid #cfd7e2;
    transform: translateY(-101%);
    transition: transform 600ms;
    ul {
      height: 100%;
      display: flex;
    }
    li {
      --link-padding: 20px;
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 var(--link-padding);
      cursor: pointer;
      @include font-metrics;
      --font-size: 13;
      --font-weight: 500;
      --color: var(--mc-2022-typography-copy-color);
      transition: color 300ms;
      &:hover {
        --color: var(--mc-2022-typography-heading-color);
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: var(--link-padding);
        width: calc(100% - calc(var(--link-padding) * 2));
        height: 2px;
        background: var(--mc-2022-link-color);
        transform-origin: 50% 100%;
        transform: scaleY(0);
        transition: transform 300ms;
      }
    }
  }
  section.focused ~ #section-nav {
    transform: translateY(0);
  }
  section#for-young-people.focused ~ #section-nav {
    li:nth-child(1):after {
      transform: scaleY(1);
    }
  }
  section#for-volunteers.focused ~ #section-nav {
    li:nth-child(2):after {
      transform: scaleY(1);
    }
  }
  section#for-organizations.focused ~ #section-nav {
    li:nth-child(3):after {
      transform: scaleY(1);
    }
  }

}
